<!DOCTYPE html>
<html>
  <head>
    <title>Dreamemo</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='public/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="public/javascripts/app.js"></script>
  </head>
  <body ng-app="dreamemo" ng-controller="MainCtrl">
  	<nav class="navbar header">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="header-tab" ng-click="go('home')" class="navbar-brand"><span class="glyphicon glyphicon-home home-icon"></span>Dreamemo</a>
			</div>
			<ul class="header-navbar nav navbar-nav navbar-right">
				<li class="header-tab" id="about-tab"><span ng-click="go('about')">About</span></li>
				<li class="header-tab" id="faq-tab"><span ng-click="go('faq')">FAQ</span></li>
				<li class="header-tab" id="contact-tab"><span ng-click="go('contact')">Contact</span></li>
			</ul>
		</div>
	</nav>
	<ui-view></ui-view>
	<script type="text/ng-template" id="/home.html">
		<div class="home-page">
		
		</div>
	</script>
	<script type="text/ng-template" id="/about.html">
		
	</script>
	<script type="text/ng-template" id="/faq.html">
		
	</script>
	<script type="text/ng-template" id="/contact.html">
		
	</script>
  </body>
</html>