body {
  padding: 0px;
  font: 14px Roboto, Helvetica, Arial, sans-serif;
}

.navbar.header {
	z-index: 2;
	position: fixed;
	border-radius: 0px;
	width: 100%;
	margin: 0px;
	padding: 10px;
}

.navbar .navbar-header {
	position: relative;
	padding: 15px;
}

.navbar .header-tab {
	color: #eee;
}

.navbar .header-tab:hover {
	cursor: pointer;
	color: #fff;
}

.navbar .header-tab.active {
	cursor: pointer;
	color: #fff;
}

.home-page {
	height: 500px;
	text-align: center;
	background-image: url("../images/night-sky.jpg");
}