body {
  padding: 0px;
  font: 14px Roboto, Helvetica, Arial, sans-serif;
}

.navbar.header {
	z-index: 2;
	position: fixed;
	border-radius: 0px;
	width: 100%;
	margin: 0px;
	padding: 10px;
}

.navbar .navbar-header {
	position: relative;
	padding: 15px;
}

.navbar .header-tab {
	color: #ddd;
	padding: 0 100px 0 0;
}

.navbar .header-tab:hover {
	cursor: pointer;
	color: #fff;
}

.navbar .header-tab.active {
	cursor: pointer;
	color: #fff;
}

.navbar .header-tab#home-tab {
	font-weight: bold;
	font-family: 'Satisfy', cursive;
}

.navbar .header-tab#hometab .app-icon {
	width: 50px;
	height: 50px;
}

.page {
	height: 500px;
	text-align: center;
}

.page bg {
	position: fixed;
	background-image: url("../images/night-sky.jpg");
}