body {
  padding: 0px;
  font: 14px Roboto, Helvetica, Arial, sans-serif;
}

.navbar.header {
	z-index: 2;
	position: fixed;
	border-radius: 0px;
	width: 100%;
	margin: 0px;
	padding: 10px;
}

.navbar .navbar-header {
	position: relative;
	padding: 15px;
}

.navbar .header-tab {
	color: #ddd;
	font-size: 1.25em;
	padding: 15px 100px 0 0;
}

.navbar .header-tab:hover {
	cursor: pointer;
	color: #fff;
}

.navbar .header-tab.active {
	cursor: pointer;
	color: #fff;
}

.navbar .header-tab#home-tab {
	font-size: 2em;
	font-weight: bold;
	font-family: 'Satisfy', cursive;
}

.header-tab .app-icon {
	width: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.page {
	color: #fff;
	text-align: center;
}

.page .bg {
	position: fixed;
	width: 100%;
    height: 100%;
	background: url("../images/night-sky.jpg");
}

.page .title {
	font-size: 2em;
	font-weight: bold;
	font-family: 'Satisfy', cursive;
	padding: 20px 50px;
	position: relative;
    top: 150px;
}

.page .subtitle {
	position: relative;
    top: 150px;
    padding: 20px;
	font-size: 1.25em;
}

.page .app-store {
	position: relative;
    top: 150px;
	width: 200px;
}